img #logo {
	height: 90px;
	width: 270px;
}

.img-app {
	width: 15spx:
}

.navbar-default {
  max-height: 40px;
  border-color: #fff;
  color: #808080;
}

.navbar-right {
  float: right;
}

body {
  background-color: #fff;
}

/*search bar*/
.col-xs-6 {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

/*buttons*/
.btn-group-wrap {
  text-align: center;
  margin-top: 30px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 20px;
}

div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-primary {
  color: #757575;
  background-color: #f2f2f2;
  border-color: #fff;
}